<body>

{% block content %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

            <!-- Перед таблицей добавим форму для поиска -->
            <form method="GET">
                <h4>Поиск по названию объявления</h4>
                {{ filter.form }} <!-- Форму от фильтров за нас сделает django -->
                <input type="submit" value="Найти"> <!-- добавим кнопку -->
            </form>
            <br/>

            {% if filter.qs %}
            <h1 class="mb-3">Replies to {{ user.username }} ({{ page_obj.paginator.count }})</h1>
                {% for reply in replies %}
                    <strong> {{ reply.username }} - {{ reply.bulletin.title }} </strong>
                    <br/>
                    {{ reply.body }}
                    <br/>
                    <p><span style="color: #999999;">#{{ reply.bulletin.category }} </span></p>
                    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'comment-accept' comment.id %}"><u> Принять </u></a> <!-- add link to delete comment -->
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' comment.id %}"><u> Удалить </u></a> <!-- add link to delete comment -->
                    <br/><br/>
                {% endfor %}
            {% else %}
            <h2>
                No Replies
            </h2>
            {% endif %}



        </div>
      </div>
    </main>
{% endblock content %}
</body>
</html>
